.list-group {
  width: 100%;
}

.list-group-item {
  background-color: transparent;
  color: white;
  border: none;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.75rem 1.25rem;
}

.list-group-item.active {
  background-color: #7925d3;
  border-radius: 0.5rem;
}

.icon-placeholder {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.75em;
  vertical-align: middle;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #2d1543;
  padding-top: 2rem;
}
