<div class="row constriction-level">
  <div class="col-md-2 p-0">
    <div class="list-group">
      <button *ngFor="let level of levels; let i = index" class="list-group-item" [class.active]="i === activeIndex"
        (click)="setActive($event,level.Id)">
        <span class="icon-placeholder"></span>{{ level.Tittle }}
      </button>
      <hr>
      <button class="list-group-item new-construction-level" >
        <span class="icon-placeholder"></span>Add New Level
      </button>
    </div>
  </div>

  <!-- Main Content -->
  <div class="col-md-10 p-4">
    <app-construction-level-details></app-construction-level-details>
  </div>
</div>