<div class="list-group">
  <button class="list-group-item"><span class="icon-placeholder"></span>Pre-Construction</button>
  <button class="list-group-item active"><span class="icon-placeholder"></span>Foundation</button>
  <button class="list-group-item"><span class="icon-placeholder"></span>First Floor</button>
  <button class="list-group-item"><span class="icon-placeholder"></span>Second Floor</button>
  <button class="list-group-item"><span class="icon-placeholder"></span>Pastering</button>
  <button class="list-group-item"><span class="icon-placeholder"></span>Flooring</button>
  <button class="list-group-item"><span class="icon-placeholder"></span>Interior</button>
  <button class="list-group-item"><span class="icon-placeholder"></span>Final</button>
</div>
