<div class="row  top-banner">
    <div class="col-12">
        <h1>My HOme</h1>
        <p>Enterprise-level home construction cost tracker.</p>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light top-banner">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['construction']">Construction Level<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Link</a>
                </li>
            </ul>
        </div>
    </nav>
</div>