<div class="task-section">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Edit Construction Level</h2>
  </div>
  <form class="construction-level-edit-form">
    <div class="mb-3">
      <label for="levelTitle" class="form-label">Title</label>
      <input id="levelTitle" type="text" class="form-control" [(ngModel)]="level.Tittle" name="title" required>
    </div>
    <div class="mb-3">
      <label for="levelDescription" class="form-label">Description</label>
      <textarea id="levelDescription" class="form-control" [(ngModel)]="level.Description" name="description" rows="3"
        required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-secondary ms-2" (click)="cancelEdit()">Cancel</button>
    <button type="submit" class="btn btn-danger ms-2">Delete</button>
  </form>
</div>